.ba-box-autocomplete .list-group
{
	padding: 5px;
	height: 200px;
	overflow-y: scroll;
	border: 2px dashed #cccccc;
	background-color: #f6ffd3;
}

.ba-box-autocomplete .list-group-item
{
	line-height: 35px;
	height: 35px;
	padding: 2px 0px;
	list-style: none;

}

.ba-box-autocomplete .list-group-item .ba-name
{
	margin: 0 5px;
}
